{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1> {{ name }} </h1>
    <div class="alert alert-danger" role="alert" style="width: 90%;">
        Requested page was not found
    </div>

    {% if entries %}
        <h1>Similar Pages</h1>
    {% endif %}
    <ul>
        {% for entry in entries %}
            <li>
                <a href="\wiki\{{ entry }}">{{ entry }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}